@import '../../styles/variales';

.pokemon {
    &__content {
        margin: 20px auto;
        border: 1px solid rgb(236, 223, 223);
    }

    &__content--title {
        
        padding: 20px;
        font-family: $font_orbitron;
        font-weight: 500;

        span {
            padding: 20px 30px;
            font-size: large;
           
        }
    }
    
    &__content--types {
        height: 50px;
        margin: 20px auto;

        span {
            margin: 20px;
            padding: 8px 50px;
       }

    }


}